#titulo-id {
    color: blueviolet;
}

.cor-amarela{
    color: yellow;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(4, 57, 39);
    font-size: 36px;

}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

h2 {
    color: darkgreen;
}

.fundo-verde {
    background: rgb(119, 80, 156);
}

.fonte-grande {
    font-size: 50px;
}

#titulo-principal {
    background: black;
    color: white;
}